
//Screens
$max-screen-width-tablet: 1024px;
$max-screen-width-mobile: 767px;

//Colors
$primary: #383838;
$primary-accent: #242322;
$secondary: #2ec96f;
$font-family-regular: "Open Sans";
$font-family-titles: "Montserrat";

//Spacings
$spacing-0: 0px;
$spacing-1: 1px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 10px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-18: 18px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-72: 72px;