@import "../../index.scss";

.cmp-about {
    background-image: url("../../assets/about-cover3.jpg");
    min-height: $cover-width;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $max-screen-width-tablet),
        (max-width: $max-screen-width-mobile){
            min-height: $cover-width-mobile;
        }

    &__content {
        width: 100%;
        height: $cover-width;
        padding: $spacing-32;
        backdrop-filter: blur(2px);

        @media(max-width: $max-screen-width-tablet),
        (max-width: $max-screen-width-mobile) {
            padding: $spacing-24;
            height: $cover-width-mobile;
        }
    }

    &__content-intro {
        margin-block: 0;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        letter-spacing: 2px;
        -webkit-text-stroke: 0.2px black;
    }

    &__content-title {
        color: $secondary;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 72px;
        border-radius: 4px;
        margin-block: 0;
        -webkit-text-stroke: 1px black;

        @media(max-width: $max-screen-width-tablet) {
            font-size: $spacing-32;
        }
    }

    &__content-paragraph {
        width: 40%;
        color: white;
        letter-spacing: 2px;

        @media(max-width: $max-screen-width-tablet),
        (max-width: $max-screen-width-mobile){
            width: 100%;
        }
    }
    
    .desktop {
        @media(max-width: $max-screen-width-mobile) {
            display: none;
        }
    }
}